
  
.table{ position: absolute;
  width: 850px;
  height: 470px;
  background: whitesmoke;
  display: flex;
  justify-content: center;
  margin-left:  400px;
margin-top: 120px;
  border-radius: 10px;
}
table{ position: absolute;
  height: 300px;
  width: 750px;
 margin-top: 100px;
  border: 1px solid;
  display: 100%;
  border-collapse: collapse;
  
 }

th, td {
padding: 8px;
text-align: left;
border-bottom: 1px solid #e2d3d3;
}

th {
background-color: #e5e5e5;
border: 1px solid #e2d3d3;
}

tbody tr:nth-child(even) {
background-color: #f9f9f9;
}

tbody tr:hover {
background-color: #e5e5e5;
}
td{
  padding: 5px 10px 0px 10px;
  border: 1px solid #e2d3d3;
}
.search input{
  height: 30px;
  width: 200px;
  position: absolute;
  margin-left: 155px;
  margin-top: 30px; 
  border-radius: 5px;
  padding-left: 10px;
    
}
.search  label{
  margin-left: 90px;
  position: absolute;
  margin-top: 35px;
  cursor: pointer;
  
}
table td i{
  cursor: pointer;
  
}
a {
  text-decoration: none;
  color: black;
  outline: none;
}
#next button{
  position: fixed;
  height: 35px;
  width: 70px;
  border-radius: 5px;
margin-top: 410px;
margin-left: 290px;
}
h3{
  position: absolute;
  margin-left: -500px;
  margin-top: 30px;
  
}
#one button{
  position: fixed;
  margin-top: 410px;
  margin-left: 250px;
  height: 35px;
  width: 35px;
  border-radius: 5px;
}
#back button{
  position: fixed;
  margin-top: 410px;
  height: 35px;
  width: 70px;
  border-radius: 5px;
  margin-left: 175px;
}









* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body { 

  width: 100%;
  background: #e5e5e5;
  position: relative;
  display: flex;
  background-color: rgb(255, 255, 255);
}

#menu {
  background: #e7eaf0;
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px solid black;
  
}

#menu .logo {
  display: flex;
  align-items: center;
  color: #070606;
  padding: 30px 0 0 30px;
}

#menu .logo img {
  width: 60px;
  border-radius: 50%;
}

#menu .items {
  position: absolute;
  margin-top: 30px;
  font-size: 24px;
  flood-color: black;
  outline: none;
  height: 20px;
}

#menu .items li {
  
  list-style: none;
  padding: 10px 0;
  transition: 0.3s ease;
  height:55px;
 
}

#menu .items li:nth-child(1) {
  border-left: 4px solid rgb(78, 57, 57);
}

#menu .items li:hover {
  background: #97a7ca;
  cursor: pointer;
}

#menu .items li i {
  
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  margin: 0 10px 0 25px;
}

#menu .items li a {
  text-decoration: none;
  color: #02060e;
  font-weight: 300;
  transition: 0.3s ease;
}

a {
  text-decoration: none;
  color: black;
  outline: none;
}



.second-level-list {
  display: none;
}

.therd-level-list {
  display: none;
}
.fourth-level-list {
  display: none;
}
.fiveth-level-list {
  display: none;
}
.sixth-level-list {
  display: none;
}
.seventh-level-list {
  display: none;
}


#navbar {
  width: 100% ;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom:  2px solid black  ;
  padding: 15px 30px;
  }
  #navbar  button{
      width: 70px;
      height: 40px;
      text-align: center;
      margin-left: 1200px;
      font-size: 16px;
      border-radius: 5px;
      background: rgb(243, 122, 122);
      
  }
  
  
  