   
.table{ 
    width:800px;
    height: 530px;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    margin-left:  200px;
   margin-top: 60px;
    border-radius: 10px;
  }
  table{ position: absolute;
    height: 330px;
    width: 700px;
   margin-top:150px;
    border: 1px solid;
    display: 100%;
    border-collapse: collapse;
    
   }
  
  th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #e2d3d3;
  }
  
  th {
  background-color: #e5e5e5;
  border: 1px solid #e2d3d3;
  }
  
  tbody tr:nth-child(even) {
  background-color: #f9f9f9;
  }
  
  tbody tr:hover {
  background-color: #e5e5e5;
  }
  td{
    padding: 5px 10px 0px 10px;
    border: 1px solid #e2d3d3;
    height: 20px;
  }

a{
  position: relative;
  width: 120px;
  height: 40px;
  margin-left: 330px;
  margin-top: 560px;
  cursor: pointer;
  
}

.table pre{
  margin-left: -650px;
 font-size: 14px;
 margin-top: 30px;
}